body {
  display:grid;
  place-content:center;
}

#inpCont {
  display:flex;
  flex-direction:column;
}

#inpCont > * {
  font-family: 'Roboto', sans-serif;
  animation: fadein 0.7s ease-out both;
}

#label {
  font-weight:bold;
  font-size:1.2rem;
  margin-bottom:0.5rem;
  text-align:center;
}

#nameInp {
  padding:0.5rem;
  outline:none;
  border:none;
  font-size:1.5rem;
  background:rgb(202, 202, 202);
  border-radius:0.2rem;
  text-align:center;
}

#labShell {
  animation-delay:0.65s;
}

#inpShell {
  animation-delay:0.6s;
}

@keyframes fadein {
  from {
    opacity:0;
    transform:translateY(5rem);
  }
  to {
    opacity:1;
    transform:translateY(0);
  }
}